In [17]:
import pandas as pd
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [6]:
training_data = pd.read_csv('data/training_data.csv')

In [7]:
training_data

             Date      Open      High       Low     Close     Volume Stock
0      22-03-2017   63.4170   64.4260   63.4170   64.3160   20909363  MSFT
1      01-03-2016  107.8300  109.8200  107.6000  109.8200   23852557    FB
2      14-07-2003    1.2819    1.3065    1.2730    1.2743   52544014  AAPL
3      13-06-2016  115.0000  115.4800  113.3100  113.9500   30974633    FB
4      04-10-2007   20.2290   20.2430   19.6570   20.0080  182716015  AAPL
...           ...       ...       ...       ...       ...        ...   ...
13994  15-05-2017  154.8400  155.4800  153.8900  154.5300   26110341  AAPL
13995  02-02-2005   22.1290   22.2220   22.0380   22.1900   94983158  MSFT
13996  03-09-1997   12.9490   13.0660   12.8060   12.8470   56981403  MSFT
13997  21-05-1997    0.5480    0.5480    0.5276    0.5404   34092886  AAPL
13998  11-08-2005    5.5566    5.6499    5.5389    5.6347   76003131  AAPL

[13999 rows x 7 columns]

In [14]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13999 entries, 0 to 13998
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    13999 non-null  object
 1   Open    13999 non-null  float64
 2   High    13999 non-null  float64
 3   Low     13999 non-null  float64
 4   Close   13999 non-null  float64
 5   Volume  13999 non-null  int64
 6   Stock   13999 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 765.7+ KB

In [15]:
training_data.isna().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Stock     0
dtype: int64

In [18]:
training_data["Date"]=pd.to_datetime(training_data["Date"])

In [19]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13999 entries, 0 to 13998
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    13999 non-null  datetime64[ns]
 1   Open    13999 non-null  float64
 2   High    13999 non-null  float64
 3   Low     13999 non-null  float64
 4   Close   13999 non-null  float64
 5   Volume  13999 non-null  int64
 6   Stock   13999 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 765.7+ KB

In [21]:
training_data['Stock'].unique()

array(['MSFT', 'FB', 'AAPL', 'TSLA'], dtype=object)