In [1]:
import pandas as pd

In [2]:
print("Hello")

Hello

In [3]:
df = pd.read_csv("./train_file.csv")

In [5]:
df.head()

,IDLink,Title,Headline,Source,Topic,PublishDate,Facebook,GooglePlus,LinkedIn,SentimentTitle,SentimentHeadline
0,Tr3CMgRv1N,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,-1,-1,-1,0.000000,-0.053300
1,Wc81vGp8qZ,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,-1,-1,-1,0.208333,-0.156386
2,zNGH03CrZH,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-1,-1,-1,-0.425210,0.139754
3,3sM1H0W8ts,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,2015-03-01 00:06:00,-1,-1,-1,0.000000,0.026064
4,wUbnxgvqaZ,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,2015-03-01 00:11:00,-1,-1,-1,0.000000,0.141084

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55932 entries, 0 to 55931
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IDLink             55932 non-null  object
 1   Title              55932 non-null  object
 2   Headline           55932 non-null  object
 3   Source             55757 non-null  object
 4   Topic              55932 non-null  object
 5   PublishDate        55932 non-null  object
 6   Facebook           55932 non-null  int64
 7   GooglePlus         55932 non-null  int64
 8   LinkedIn           55932 non-null  int64
 9   SentimentTitle     55932 non-null  float64
 10  SentimentHeadline  55932 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 4.7+ MB

In [8]:
df.nunique()

IDLink               55932
Title                48963
Headline             52112
Source                4753
Topic                    4
PublishDate          49602
Facebook              2166
GooglePlus             273
LinkedIn               648
SentimentTitle       10014
SentimentHeadline    27265
dtype: int64

In [12]:
df = df.drop_duplicates()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55932 entries, 0 to 55931
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IDLink             55932 non-null  object
 1   Title              55932 non-null  object
 2   Headline           55932 non-null  object
 3   Source             55757 non-null  object
 4   Topic              55932 non-null  object
 5   PublishDate        55932 non-null  object
 6   Facebook           55932 non-null  int64
 7   GooglePlus         55932 non-null  int64
 8   LinkedIn           55932 non-null  int64
 9   SentimentTitle     55932 non-null  float64
 10  SentimentHeadline  55932 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 7.6+ MB

In [15]:
titles = df["Title"]